@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html, body {
  height:100%;
  font-family: 'Lato', sans-serif;
  display: block;       
  border: none;         
  height: 250vh;        
  width: 100vw;
} 

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}